.QP-button {
  height: 30px;
  background-color: #C4C4C4;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

.QP-button:hover {
  background-color: #9c9c9c;
}
