.App-Header {
  position: absolute;
  top: 0;
  width: calc(100% - 30px);
  padding: 0 15px;
  background-color: #091d28;
  height: 85px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App-Title {
  font-size: 1.2rem;
}

.App-Main {
  position: absolute;
  width: 100%;
  height: calc(100% - 85px);
  top: 85px;
}

.App-API {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.App-API p {
  margin-right: 25px;
}

.App-API input {
  font-size: 0.8em;
  text-align: center;
  width: 300px;
}

.App-Form {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-Form-Card {
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: 25px;
}

.App-Form-Header {
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: -25px -25px 25px -25px;
  padding: 10px 25px;
  color: #404040;
}

.App-Search {
  margin: 0;
}

.App-Search h2 {
  margin: 0 0 5px 0;
  font-size: 1.2rem;
  color: rgb(11, 107, 185);
}

.App-Form-Input-Row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.App-Input-Label:first-child {
  margin-right: 25px;
}

.App-Input-Label {
  display: flex;
  flex-direction: column;
}

.App-Input-Label h2 {
  margin: 0;
  font-size: 1rem;
  color: #404040;
}

.App-Input {
  margin-top: 5px;
  padding: 0 15px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  height: 35px;
}

.App-Input:disabled {
  color: grey;
}
