.WellSummary-Wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.WellSummary {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.WellSummary-TableWrap {
  height: 400px;
  width: 300px;
  overflow: scroll;
}

@media only screen and (min-width: 760px) {
  .WellSummary-TableWrap {
    width: auto;
  }
}

.WellSummary-Table > tr:nth-child(even) {
  background-color: #f2f2f2;
}

.WellSummary-Table > tr > td:nth-last-child(1) {
  padding-left: 2px;
}

.WellSummary-Button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: orange;
  color: white;
  font-size: 1.5em;
  margin-top: 10px;
  cursor: pointer;
}
